{% extends 'ygocard/base.html' %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      {% if validlink %}
        <h3>Change your password for {{ form.user.username }}</h3>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success btn-block">Change password</button>
        </form>
      {% else %}
        <h3>Reset your password</h3>
        <div class="alert alert-danger" role="alert">
          It looks like you clicked on an invalid password link. Please try again.
        </div>
        <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password link</a>
      {% endif %}
    </div>
  </div>

{% endblock %}
