{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>Dominion of Chaos</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>

        <!-- GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="{% static 'vendor/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>

        <!-- LOGIN FORM STYLES -->
        <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" type="text/css" />

        <!-- PAGE LEVEL PLUGIN STYLES -->
        <link href="{% static 'css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/css/swiper.min.css' %}" rel="stylesheet" type="text/css"/>

        <!-- THEME STYLES -->
        <link href="{% static 'css/layout.min.css' %}" rel="stylesheet" type="text/css"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico"/>
    </head>
    <!-- END HEAD -->

    <!-- BODY -->
    <body>
              <!--========== HEADER ==========-->
        <header class="header navbar-fixed-top">
            <!-- Navbar -->
            <nav class="navbar" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo">
                            <a class="logo-wrap" href="/">
                                <img class="logo-img logo-img-main" src="{% static 'img/Yugioh_Logo.png' %}" alt="YGO Logo">
                                <img class="logo-img logo-img-active" src="{% static 'img/Yugioh_Logo.png' %}" alt="YGO Logo">
                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-collapse">
                        <div class="menu-container">
                            <ul class="navbar-nav navbar-nav-right">
                                  <li class="nav-item"><a class="nav-item-child nav-item-hover active" href="/">Home</a></li>
                                  <li class="nav-item"><a class="nav-item-child nav-item-hover" href="#">Contact</a></li>
                                {% if user.is_authenticated %}
                                  <li class="nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'add_new_card' %}">Add New Card</a></li>
                                  <li class="nav-item"><a class="nav-item-child nav-item-hover" >Hi {{ user.username }}</a></li>
                                  <li class="nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'password_change' %}">Change password</a></li>
                                  <li class="nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'logout' %}">Log out</a></li>
                                {% else %}
                                  <li class="nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'signup' %}">Sign Up</a></li>
                                  <li class="nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'login' %}">Login</a></li>
                                {% endif %}
                                <li class="nav-item"><a class="nav-item-child nav-item-hover">{{ cards_count }}</a></li>



                            </ul>
                        </div>
                    </div>
                    <!-- End Navbar Collapse -->
                </div>
            </nav>
            <!-- Navbar -->
        </header>
        <!--========== END HEADER ==========-->



            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="img-responsive" src="{% static 'img/1920x1080/ygo2.jpg' %}" alt="Slider Image">
                    <div class="container">
                        <div class="carousel-centered">
                            <div class="margin-b-40">
                                <h1 class="carousel-title">Yu-Gi-Oh Card Collection</h1>
                                <p>This is collection of Yugioh cards <br/> by Ivan Gajovic, named Dominion of Chaos</p>
                            </div>
                            <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Explore</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--========== SLIDER ==========-->

        <!--========== PAGE LAYOUT ==========-->
        <!-- Service -->


          {% block signin %}
        <!-- Latest Products -->
        <div class="content-lg container">
            <div class="row margin-b-40">
                <div class="col-sm-6">

                    <h2><a href="/">Card Collection</a></h2>
                </div>
            </div>

            <!--// end row -->
            {% block content %}
            {% endblock content %}
            <p>You have visited this page: {{ num_visits }}{% if num_visits == 1 %} time {% else %} times {% endif %}</p>
                <!-- End Latest Products -->

          {% endblock signin %}

        <!-- Clients -->
        <div class="bg-color-sky-light">
            <div class="content-lg container">
                <!-- Swiper Clients -->
                <div class="swiper-slider swiper-clients">
                    <!-- Swiper Wrapper -->

                    <!-- End Swiper Wrapper -->
                </div>
                <!-- End Swiper Clients -->
            </div>
        </div>
        <!-- End Clients -->








        <!--========== END PAGE LAYOUT ==========-->

        <!--========== FOOTER ==========-->
        <footer class="footer">
            <!-- Links -->
            <div class="footer-seperator">
                <div class="content-lg container">
                    <div class="row">
                        <div class="col-sm-2 sm-margin-b-50">
                            <!-- List -->
                            <ul class="list-unstyled footer-list">
                                <li class="footer-list-item"><a class="footer-list-link" href="/">Home</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" href="#">Contact</a></li>
                            </ul>
                            <!-- End List -->
                        </div>
                        <div class="col-sm-4 sm-margin-b-30">
                            <!-- List -->
                            <ul class="list-unstyled footer-list">
                                <li class="footer-list-item"><a class="footer-list-link" target="_blank" href="https://www.facebook.com/pix.navi">Facebook</a></li>
                                <li class="footer-list-item"><a class="footer-list-link" target="_blank" href="https://www.instagram.com/g_ivanho">Instagram</a></li>
                            </ul>
                            <!-- End List -->
                        </div>

                    </div>
                    <!--// end row -->
                </div>
            </div>
            <!-- End Links -->


        </footer>
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- CORE PLUGINS -->
        <script src="{% static 'vendor/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery-migrate.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

        <!-- PAGE LEVEL PLUGINS -->
        <script src="{% static 'vendor/jquery.easing.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.back-to-top.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/jquery.wow.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/swiper/js/swiper.jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/masonry/jquery.masonry.pkgd.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/masonry/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>

        <!-- PAGE LEVEL SCRIPTS -->
        <script src="{% static 'js/layout.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/wow.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/swiper.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/components/masonry.min.js' %}" type="text/javascript"></script>

    </body>
    <!-- END BODY -->
</html>
