{% extends 'ygocard/base.html' %}

{% load humanize %}

{% block content %}


  <div class="col-sm-4 sm-margin-b-50 floatIt1">
    <div class="margin-b-20">
      <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
        <img src="{{ card.c_image.url }}" class="img-responsive" >
      </div>
    </div>
  </div>

    <div class="floatIt2">
    <h4><a href="/"></a>{{ card.c_title }} &emsp;
      {% if user.is_authenticated %}
        {% if user.is_staff %}
        <a href="{% url 'card_edit' pk=card.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit Card"></i></a>&nbsp;
          <a href="{% url 'card_remove' pk=card.pk %}"><i class="fa fa-times" aria-hidden="true" title="Delete Card"></i></a>{% endif %}{% endif %}<br>
      {% if card.card_type.title == "monster" %}
        <span class="text-uppercase margin-l-20">{{ card.card_type.title }} / {{ card.monster_type.title|default_if_none:"" }} / {{ card.monster_type_1.title|default_if_none:"" }} / {{ card.monster_type_2.title|default_if_none:"" }} / {{ card.monster_ability.title|default_if_none:"" }}</span></h4>
      {% else %}
        <span class="text-uppercase margin-l-20">{{ card.card_type.title }} / {{ card.spell_trap_type.title }} </span></h4>
      {% endif %}
        <p><strong>Set:</strong> {{ card.c_set }}</p>
        <p><strong>Rarity:</strong> {{ card.card_rarity.title }}</p>
        <p><strong>Edition:</strong> {{ card.c_edition }}</p>
        <p><strong>Description:</strong> {{ card.c_description|linebreaks }}</p>
        <p><strong>Release date:</strong> {{ card.release_date|date:'d. F Y.' }}</p>
        <p><strong>Date of procurement:</strong> {{ card.procure_date|naturaltime }}</p>
    </div>
    <!-- </div> -->

{% endblock %}
