{% extends 'ygocard/base.html' %}
               <!-- Latest Products -->
  {% block content %}
    {% for card in cards %}
     <div class="col-sm-4 sm-margin-b-50">
       <div class="margin-b-20">
         <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
           <a href="{% url 'card_detail' pk=card.pk %}"><img src="{{ card.c_image.url }}" class="img-responsive" >
         </div>
       </div>
         <h4><a href="{% url 'card_detail' pk=card.pk %}">{{ card.c_title }}</a> <br><span class="text-uppercase margin-l-20">{{ card.card_type.title }}</span></h4>

           <a class="link" href="{% url 'card_detail' pk=card.pk %}">Read More</a>
         </div>
    {% endfor %}


    {% if cards1.has_other_pages %}
      <div class="pagination">
        {% if cards1.has_previous %}
          <a href="?strana={{ cards1.previous_page_number }}">&laquo;</a>
        {% else %}
          <a class="disabled"><span>&laquo;</span></a>
        {% endif %}
        {% for pg in cards1.paginator.page_range %}
          {% if cards1.number == pg %}
            <a class="active"><span>{{ pg }}<span class="sr-only">(current)</span></span></a>
          {% else %}
            <a href="?strana={{ pg }}">{{ pg }}</a>
          {% endif %}
        {% endfor %}
        {% if cards1.has_next %}
          <a href="?strana={{ cards1.next_page_number }}">&raquo;</a>
        {% else %}
          <a class="disabled"><span>&raquo;</span></a>
        {% endif %}
      </div>
    {% endif %}
  {% endblock %}
